h1{
    color: aqua;
    margin-left: 30px;
    
}
.header{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}
